extends views/layout.pug

block content

    h2 Proof of concept for Mobytrader Binary.com integration

    div(class="pure-g")
        p
        a.pure-menu-link(href="https://www.binaryqa14.com/oauth2/authorize?app_id=1004&l=EN&signup_device=desktop&date_first_contact=2019-03-17") <i class="fas fa-sign-in-alt"></i> Login
