extends views/layout.pug

block content

    h2 Proof of concept for Mobytrader Binary.com integration

    div(class="pure-g")
        p
        a.pure-menu-link(id="login_button" href="#") <i class="fas fa-sign-in-alt"></i> Login
