extends views/layout.pug

block content
    h2 Proof of concept for Mobytrader Binary.com integration

    div(class="pure-g")
        div(class="pure-u-1-2")
            button(class="pure-button pure-button-primary" id="authorize_connection") Authorize

    div(class="pure-g")
        p

    div(class="pure-g chain_with_authorize")
        div(class="pure-u-1-2")
            button(class="pure-button pure-button-primary" id="get_settings") Get settings
        div(class="pure-u-1-2")
            button(class="pure-button pure-button-primary" id="get_balance") Get balance

    div(class="pure-g")
        p

    div(class="pure-g")
        div(class="pure-u-1-1")
            input(type="text" id="paymentagent_loginid" placeholder="Enter payment agent loginid, for example, CR900000002" size=40 class="client_display")
            p
            button(class="pure-button pure-button-primary client_display" id="payment_agent_withdraw") Payment agent withdraw

    div(class="pure-g")
        p

    div(class="pure-g")
        div(class="pure-u-1-1")
            input(type="text" id="client_loginid" placeholder="Enter client loginid id, for example, CR900000001" size=40 class="paymentagent_display")
            p.paymentagent_display Logged in as authorized payment agent.
            button(class="pure-button pure-button-primary paymentagent_display" id="payment_agent_transfer") Payment agent transfer

    div(class="pure-g")
        p
        div(class="pure-u-1")
            hr
            h3 Console output

    div(class="pure-g")
        div(class="pure-u-1-2")
            textarea(class="pure-input-1-2" id="request_area_output" placeholder="Request display area" rows=10)
        div(class="pure-u-1-2")
            textarea(class="pure-input-1-2" id="response_area_output" placeholder="Response display area" rows=10)
